[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-compressor = "*"
django-libsass = "*"
django-extensions = "*"
django-crispy-forms = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-haystack = {git = "https://github.com/django-haystack/django-haystack.git",ref = "v3.0b1"}
whoosh = "*"
pillow = "*"
django-categories = "*"
django-seed = "*"
beautifulsoup4 = "*"
requests = "*"
actstream = {git = "https://github.com/justquick/django-activity-stream.git"}
django-lazysignup = {git = "https://github.com/cccaballero/django-lazysignup.git",ref = "master"}
python-telegram-bot = "*"
django-allauth = "*"

[requires]
python_version = "3.7"
