.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.badge-primary {
    color: #fff;
    background-color: $color-primary;
}

.badge-secondary {
    color: #fff;
    background-color: $color-secondary;
}

.badge-tertiary {
    color: #fff;
    background-color: $color-tertiary;
}

.badge-quaternary {
    color: #fff;
    background-color: $color-quaternary;
}

.badge-quinary {
    color: #fff;
    background-color: $color-quinary;
}