@import "../normalize/normalize";
@import "../miligram/milligram";
@import "navbar";
@import "badge";
@import "../splide/_splide";

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.highlighted {
  font-weight: bold;
}

.login-logout .img {
  height: 15rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.login-logout .button {
  width: 200px;
}

.list-item-container {
  padding-top: 2px;
  border-bottom: 2px solid #ddd;
}

.list-title {
  border-bottom: 2px solid #ddd;
}


.list-item {
  margin-bottom: 1rem;
}

.list-item-header {
  margin-top: 8px;
}

.list-item-price {
  color: #111 !important;
  line-height: 1.6;
}

.list-item-location {
  color: #606c76 !important;
}

.list-item-title, .list-item-location {
  margin-bottom: 1rem;
}

.list-item-price {
  margin-bottom: 0.5rem;
}

.list-item-price-symbol {
  top: -.4em;
  font-size: 1.3rem;
}

.text-justify{
  text-align: justify;
}

@media (max-width: 40rem) {
    .row .column.responsive[class*=" column-"] {
        margin-left: 0;
        max-width: 100%;
    }
}