@import "../normalize/normalize";
@import "../miligram/milligram";
@import "navbar";
@import "badge";
@import "switch-button";
@import "../splide/_splide";
@import "no-select";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  margin-top: auto;
  font-size: 1.4rem;
}

.footer .container {
  margin-bottom: 1rem;
}

.footer li, .footer ul {
  margin-bottom: 0rem;
}

.footer p.credits {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .pagination {
  margin-bottom: 3rem;
}

p.credits {
  margin: 1em 0 0;
}

.footer > .container ul.list-social > li:not(:last-child):after {
  content: " | ";
}

code {
  font-size: 80%;
}

img.logo-main {
  margin-bottom: 2rem;
}

h1.logo {
  @extend .no-select;
}

h1.logo.logo-search-bar {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

h1.logo a {
  color: $color-secondary;
}

.highlighted {
  font-weight: bold;
}

.login-logout .img {
  height: 15rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.login-logout .button {
  width: 200px;
}

.list-item-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}

.list-title {
  border-bottom: 2px solid #ddd;
}

.list-item-title h2 {
  font-size: 2.2rem;
  margin-bottom: 0rem;
}


.list-item {
  margin-bottom: 1rem;
}

.list-item-header {
  margin-bottom: 1rem;
  min-height: 25.6px;
}

.list-item-price {
  color: #111 !important;
  line-height: 1.6;
}

.list-item-location span {
  color: #606c76 !important;
  font-weight: bold;
}

.list-item-title, .list-item-location {
  margin-bottom: 0.5rem;
}

.list-item-price {
  margin-bottom: 0.5rem;
}

.list-item-price h3 {
  margin-bottom: 0rem;
}

.list-item-price-symbol {
  top: -.4em;
  font-size: 1.3rem;
}

.text-justify {
  text-align: justify;
}

.list-inline > li {
  display: inline-block;
}

@media (max-width: 40rem) {

  .row .column.responsive[class*=" column-"] {
    margin-left: 0;
    max-width: 100%;
  }

  .row.main-search {
    margin-top: 8rem;
  }

  img.logo-main {
    width: 20rem;
  }

}

@media (min-width: 40rem) {

  .row.main-search {
    margin-top: 15rem;
  }

  img.logo-main {
    width: 30rem;
  }
}

form.search-form {
  margin-bottom: 0rem;
}

.input-box {
  border: 0.1rem solid #d1d1d1;
  width: 100%;
  border-right: 0rem;
}

.button.button-sm {
  padding: 0 1rem;
  margin-bottom: 0rem;
  line-height: 3rem;
  height: 3rem;
}

.button.button-search {
  padding: 0 1rem;
  font-size: 1.6rem;
}

.button.button-search.button-submit {
  height: 100%;
}

input.search-input {
  border: 0rem;
  min-width: 0rem;
}

.form-inline {
  display: flex;
}

.form-inline.center {
  justify-content: center;
}

.search-navbar {
  border-bottom: 1px solid #ddd;
  margin-top: 2rem;
}

@media (max-width: 90rem) {
  div.float-title {
    text-align: center;
  }
}

@media (min-width: 90rem) {
  div.float-title {
    left: 3vw;
    position: absolute;
    text-align: center;
  }
}

.search-form input, .search-form button, .search-form button {
  border-radius: 0;
  margin-bottom: 0;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.form-check label {
  display: inline;
}

//Switch button
.telegram-switch-label {
  display: inline;
}

.autocomplete-container {
  position: relative;
}

.autocomplete-container ul.autocomplete-list {
  list-style: none;
  z-index: 100;
  width: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  box-shadow: 5px 10px 8px #888888;
}

.autocomplete-container ul.autocomplete-list > li {
  margin-bottom: 0;
  padding: .6rem 1.0rem;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.autocomplete-container ul.autocomplete-list > li.autocomplete-highlight {
  background: #eeeeee;
}

.no-highlight {
  font-weight: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.text-cross-out {
  text-decoration: line-through;
}

.list-item-description p {
  margin-bottom: 1rem;
}

#search-form .extra {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-form .extra .dropdown-filters-btn {
  margin-left: auto;
  padding: 0;
  text-transform: none;
}

.extra span {
  font-size: 1.4rem
}

.list-item-description p {
  word-break: break-word;
  text-align: justify;
}

.list-item-title {
  word-break: break-word;
}

.float-title h1 {
  margin-bottom: 0;
}

.ads-quantity p {
  margin-top: 1rem;
}

.d-none {
  display: none;
}

#filters-container {
  //border-top: 1px solid #ddd;
}

#filters-container label {
  margin-top: 0.8rem;
}


.custom-select .button {
  width: 100%;
}

.custom-select .button[data-selected="1"] {
  background: $color-quaternary;
}

.custom-select .column {
  margin-top: 1rem;
}

.row.custom-select {
  flex-wrap: wrap;
}

.custom-select .column button {
  padding: 0 0.1rem;

}

@media (max-width: 20rem) {
  .row .column.column-xs-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 20rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }

  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }

  .row .column.column-sm-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 40rem) {
  .row .column.column-md-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}


@media (min-width: 80rem) {
  .row .column.column-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.search-form .filters-selected .row {
  flex-wrap: wrap
}

.filters-selected .item-container .item {
  padding: 0 0.1rem;
  margin-bottom: 0rem;
  line-height: 3rem;
  height: 3rem;
  background-color: transparent;
  color: $color-primary;
  border: 0.1rem solid $color-primary;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.filters-selected .item-container .item .remove-filter.button{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 2.9rem;
  margin-top: -1.2px;
  float: left;
}

.filters-selected .column.item-container {
  min-width: 50%;
  max-width: 100%;
  flex-grow: 1;
  margin-top: 1rem;
}

/* Chrome, Safari, Edge, Opera */
#prices-filter input::-webkit-outer-spin-button,
#prices-filter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#prices-filter input[type=number] {
  -moz-appearance: textfield;
}

#prices-filter select{
  border-radius: 0;
  margin-bottom: 0;
}

#prices-filter .column{
  margin-top: 1rem;
}



// ----------TESTING--------------
//.custom-select {
//  display: flex;
//  flex-flow: row wrap;
//  justify-content: space-around
//}
//
//.custom-select button.button-sm, .custom-select .div-helper {
//  width: 16rem;
//  margin-bottom: 1rem;
//  margin-left: 4px
//}
//
//@media (max-width: 23rem) {
//  .custom-select button.button-sm, .custom-select .div-helper {
//    width: 100%;
//    margin-bottom: 1rem;
//    margin-left: 0px
//  }
//}
// ----------END TESTING--------------
