@import "../normalize/normalize";
@import "../miligram/milligram";
@import "navbar";
@import "badge";
@import "../splide/_splide";

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.highlighted {
  font-weight: bold;
}

.login-logout .img {
  height: 15rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.login-logout .button {
  width: 200px;
}

.list-item-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddd;
}

.list-title {
  border-bottom: 2px solid #ddd;
}


.list-item {
  margin-bottom: 1rem;
}

.list-item-header {
  margin-top: 8px;
}

.list-item-price {
  color: #111 !important;
  line-height: 1.6;
}

.list-item-location {
  color: #606c76 !important;
}

.list-item-title, .list-item-location {
  margin-bottom: 1rem;
}

.list-item-price {
  margin-bottom: 0.5rem;
}

.list-item-price-symbol {
  top: -.4em;
  font-size: 1.3rem;
}

.text-justify{
  text-align: justify;
}

@media (max-width: 40rem) {
    .row .column.responsive[class*=" column-"] {
        margin-left: 0;
        max-width: 100%;
    }
}

.button.button-sm {
  padding: 0 1rem;
  margin-bottom: 0rem;
  line-height: 3rem;
  height: 3rem;
}

.button.button-search {
  padding: 0 1rem;
  font-size: 1.6rem;
}

.search-container {
  display: flex;
  max-width: 40rem;
}

.form-check label {
  display: inline;
}

//Switch button
.telegram-switch-label {
  display: inline;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}