{% load highlight %}

<div class="list-item-container">
    {% if back %}
        <a href="{% url "ads:edit" id=ad.id %}" class="button button-outline button-sm"><span
                class="icon-pencil"></span> Editar</a>
        <button class="button button-outline button-sm ajax-delete"
                data-delete-url="{% url "ads:delete" id=ad.id %}"><span class="icon-trash"></span> Eliminar
        </button>
    {% elif ad.external_source %}
        <span class="list-item-badge badge badge-secondary">{{ ad.external_source }}</span>
    {% endif %}
    <div class="list-item-header">
        <a href="{{ ad.get_absolute_url }}" {% if ad.external_source %}target="_blank" class="external"
           data-goto="{{ request.scheme }}://{{ request.get_host }}{% url "ads:to_external_url" %}"{% endif %}
           data-ad="{{ ad.id }}">
            <h4 class="list-item-title">{{ ad.title }}</h4>
            <span class="list-item-location">
                {% if ad.province %}{{ ad.province }}{% endif %}{% if ad.municipality %},{% endif %}
                {% if ad.municipality %}{{ ad.municipality }}{% endif %}
                ({{ ad.created_at | date:"SHORT_DATE_FORMAT" }})
            </span>
            {% if ad.get_user_price %}
                <h3 class="list-item-price">{{ ad.get_user_price }} {{ ad.user_currency }}</h3>
            {% endif %}
        </a>
    </div>
    <div class="list-item-description">
        <p>
            {# text highlight for haystack results #}
            {% if query and result %}
                {% highlight result.description with query max_lenght 260 %}
            {% else %}
                {{ ad.description| truncatechars:260 }}
            {% endif %}
        </p>
    </div>

    {% if back %}
        <div class="list-telegram-switch">
            <!-- Rectangular switch -->
            {#                    <label class="switch">#}
            {#                        <input type="checkbox">#}
            {#                        <span class="slider"></span>#}
            {#                    </label>#}

            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label class="telegram-switch-label">Republicar en grupos de Telegram</label>
        </div>
    {% endif %}

</div>
