{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

    {% if subcategory %}
        <div class="list-title"><h2>{{ subcategory.parent.name }}. {{ subcategory.name }}</h2></div>
    {% elif category %}
        <div class="list-title"><h2>{{ category.name }}</h2></div>
    {% endif %}


    {% if object_list %}
        <ul>
        {% for ad in object_list %}
            {% include 'ad/_list-item.html' %}
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'No results where found' %}.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans 'first' %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
                {% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %}Page {{ number }} of {{ num_pages }}.{% endblocktrans %}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}