{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

    <h1>Como Hay</h1>
    {% if subcategory %}
        <h2>{{ subcategory.name }}</h2>
    {% elif category %}
        <h2>{{ category.name }}</h2>
    {% endif %}

    {% if object_list %}
        <ul>
        {% for ad in object_list %}
            <li><a href="{{ ad.get_absolute_url }}" {% if ad.external_source %}target="_blank"  class="external"  data-goto="{{ request.scheme }}://{{ request.get_host }}{% url "ads:to_external_url" %}"{% endif %} data-ad="{{ ad.id }}">{{ ad.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'No results where found' %}.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans 'first' %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
                {% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %}Page {{ number }} of {{ num_pages }}.{% endblocktrans %}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}