{% extends 'empty-layout.html' %}
{% load i18n %}
{% load compress %}
{% load static %}

{% block essence %}
    {% if not query %}
        <div class="container">
            <div class="row main-search">
                <div class="center-content">
                    <img class="logo-main" src="{% static 'logo-adjusted.png' %}">
                    <div class="column" id="search-container">
                        <form method="get" action="." class="form-inline center search-form"
                              autocomplete="off">
                            <input placeholder="{% trans 'Search' %}" value="{{ query }}"
                                   type="search"
                                   name="q"
                                   id="id_q"
                                   class="search-input"
                                   data-autocomplete-cache="{{ cache_autocomplete_client }}">
                            <input type="hidden" name="a" id="autosuggestion-hi" value='1' disabled>
                            {% if suggestion and query != suggestion %}
                                <div>
                                    <p>{% trans 'Maybe you want to say' %}: <a
                                            href="{% url 'ads:index' %}?q={{ suggestion }}">{{ suggestion }}</a></p>
                                </div>
                            {% endif %}
                            <button type="reset" class="button button-search button-clear button-cancel"
                                    id="button-cancel"><span
                                    class="icon-cancel-1"></span></button>
                            <button type="submit" value="{% trans 'Search' %}" class="button button-search"><span
                                    class="icon-search"></span></button>
                        </form>
                        <div class="autocomplete-container">
                            <ul id="autocomplete-list" class="autocomplete-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center-content">
                    <p>
                        {% blocktrans with index_count as index_count %}{{ index_count }} indexed ads{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="search-navbar">
            <div class="float-title">
                <a href="{% url "ads:index" %}"><img class="logo-search" src="{% static 'logo-adjusted.png' %}"
                                                     width="150" alt="logo"></a>
            </div>
            <div class="container">
                <div class="row" style="padding-bottom: 1.5rem;">
                    <div class="column" id="search-container">
                        <form method="get" action="." class="form-inline center search-form"
                              autocomplete="off">
                            <input placeholder="{% trans 'Search' %}" value="{{ query }}"
                                   type="search"
                                   name="q"
                                   id="id_q"
                                   class="search-input"
                                   data-autocomplete-cache="{{ cache_autocomplete_client }}">
                            <input type="hidden" name="a" id="autosuggestion-hi" value='1' disabled>
                            {% if suggestion and query != suggestion %}
                                <div>
                                    <p>{% trans 'Maybe you want to say' %}: <a
                                            href="{% url 'ads:index' %}?q={{ suggestion }}">{{ suggestion }}</a></p>
                                </div>
                            {% endif %}
                            <button type="reset" class="button button-search button-clear button-cancel"
                                    id="button-cancel"><span
                                    class="icon-cancel-1"></span></button>
                            <button type="submit" value="{% trans 'Search' %}" class="button button-search"><span
                                    class="icon-search"></span></button>
                        </form>
                        <div class="autocomplete-container">
                            <ul id="autocomplete-list" class="autocomplete-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% for result in page.object_list %}
                {% with ad=result.object %}
                    {% include 'ad/_list-item.html' %}
                {% endwith %}
            {% empty %}
                <p>{% trans 'No results where found' %}.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                    {% trans 'Previous' %}{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}
                        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans 'Next' %}
                    &raquo;
                    {% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        </div>
        {#    {% else %}#}

        {#        <div class="row categories">#}
        {#            {% for parent_category in parent_categories %}#}
        {#                {% if forloop.counter0|divisibleby:4 %}#}
        {#                    </div>#}
        {#                    <div class="row">#}
        {#                {% endif %}#}
        {##}
        {#                <div class="column">#}
        {#                    {% if parent_category.children.count %}#}
        {#                        <h4>#}
        {#                            <a href="{% url 'ads:list_by_main_category' parent_category.slug %}">{{ parent_category.name }}</a>#}
        {#                        </h4>#}
        {#                        <ul>#}
        {#                            {% for subcategory in parent_category.children.all %}#}
        {#                                <li>#}
        {#                                    <a href="{% url 'ads:list_by_categories' parent_category.slug subcategory.slug %}">{{ subcategory.name }}</a>#}
        {#                                </li>#}
        {#                            {% endfor %}#}
        {#                        </ul>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#            </div>#}
    {% endif %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
    {% endcompress %}
{% endblock %}