
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-1:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-right-open-1:before { content: '\e806'; } /* '' */
.icon-down-open-big:before { content: '\e807'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */