{% load compress %}
{% load static %}
{% load i18n %}
{% load meta %}
<!doctype html>
<html lang="en" class="h-100">
    <head {% meta_namespaces %}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Daxslab & friends">

        {% include 'meta/meta.html' %}

        <title>CómoHay</title>

        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% compress css %}
            <link type="text/x-scss" href="{% static 'sass/main.scss' %}" rel="stylesheet">
            <link type="text/css" href="{% static 'fontello/css/fontello.css' %}" rel="stylesheet">
            <link type="text/css" href="{% static 'fontello/css/animation.css' %}" rel="stylesheet">
            <link type="text/css" href="{% static 'fontello/css/fontello-codes.css' %}" rel="stylesheet">
        {% endcompress %}

        {% block css %}
        {% endblock %}

    </head>
    <body>

        {% block essence %}
        {% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% endcompress %}

        {% block js %}
        {% endblock %}

    </body>
</html>
