{% load compress %}
{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Daxslab, and contributors">
        <title>Como Hay</title>

        {% compress css %}
            <link type="text/x-scss" href="{% static 'sass/main.scss' %}" rel="stylesheet">
        {% endcompress %}
    </head>
    <body>
        <header>

            <nav class="navigation">
                    <section class="container">
                       <a class="navigation-title" href="{% url 'ads:index' %}">
                          <h1 class="title">Como Hay</h1>
                       </a>
                       <ul class="navigation-list float-right">
                          <li class="navigation-item"><a class="navigation-link" href="{% url 'ads:index' %}">{% trans 'Index' %}</a></li>
                          <li class="navigation-item"><a class="navigation-link" href="{% url 'ads:create' %}">{% trans 'Add ad' %}</a></li>
                       </ul>
                    </section>
                 </nav>

        </header>


        <main role="main">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place footer content here.</span>
            </div>
        </footer>

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    </body>
</html>
